html {
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
a{
    text-decoration: none;

}
input,
button,
textarea,
select {
    font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    text-decoration: none;
    margin: 0;
    
}
body {
    font-family: 'PT Astra Sans', sans-serif;
    font-weight: 400;
    line-height: 21px;
    color: #37393E;
    font-size: 16px;
} 
   
.header-top {
    padding: 23px 0 22px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
    
}
.header__inner-box {
    display: flex;
    align-items: center;
}
    .logo {
    margin-right: 37px;

}
.address {
    font-style: normal;
}
.cart {
    display: flex;
}
.cart-btn {
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color:#3971FF ;
}
.search-box {
    display: flex;
}
.search-form {
    position: relative;
    }
.search-input {
    border: 1px solid #37393E;
    border-radius: 2px;
    padding: 7px 30px 7px 12px;
    width: 367px;
    line-height: 18px;
}
.search-input ::placeholder {
    color: #BFBFBF;
}
.search-btn {
   position: absolute;
   top: 5px;
   right: 5px;
   background: none;
   padding: 0;
   border-radius: 2px;
    }
    .header-bottom {
        margin-bottom: 50px;
        background-color: #3971FF;
    }
    .header-bottom-inner {
        padding: 8px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
.nav-list {
    display: flex;
   }
   .nav-item+.nav-item {
       margin-left: 20px;
   }
.nav-item {
    padding-top: 12px;
    padding-bottom: 11px;
    margin-left: 20px;
    font-family: PT Astra Sans;
    color: #FFFFFF;
}
.nav-link {
    line-height: 18px;
    color: #fff;
}
.user-menu-item+.user-menu-item {
   margin-left: 10px;
}

    .user-menu-link {
        border: 1px solid #fff;
        border-radius: 2px;
        padding: 1px 10px 3px;
        color: #fff;
        background-color:#3971FF;
        transition: all .3s;
}
.user-menu-link:hover {
    color: #3971FF;
    background-color:#fff ;
}
    .user-menu-link--enter {
       background-color: #fff;
       color: #3971FF;
       transition: all .3s;
    }
    .user-menu-link--enter:hover {
        color: #fff;
        background-color: #3971FF;
    }