/* подключаем файл .css с шрифтами, всё его содержимое как бы вставится сюда начиная со строчки @import... */
@import url('fonts.css');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'PT Astra Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #37393E;
  background-color: #F6F6F6;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  visibility: hidden;
}

.header-top {
  padding: 23px 0 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__inner-box {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 37px;
}

.address {
  font-style: normal;
}

.cart {
  display: flex;
}

.cart-btn {
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: #3971FF;
  transition: background-color,
    .3s;
}

.cart-btn:hover {
  background-color: #98B5FF;
}

.search-box {
  display: flex;
}

.search-form {
  position: relative;
}

.search-input {
  margin-right: 10px;
  border: 1px solid #37393E;
  border-radius: 2px;
  padding: 7px 33px 7px 12px;
  width: 367px;
  line-height: 18px;
}

.search-input::placeholder {
  color: #BFBFBF;
}

.search-btn {
  position: absolute;
  top: 4px;
  right: 15px;
  background: none;
  border: none;
  padding: 0;
  border-radius: 2px;
  cursor: pointer;
}

.search-btn-icon {
  width: 24px;
  height: 24px;
  background-image: url('../img/icons/search.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.search-btn:hover .search-btn-icon {
  background-image: url('../img/icons/search-hovered.svg');
}

.header-bottom {
  margin-bottom: 50px;
  background-color: #3971FF;
}

.header-bottom-inner {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: flex;
}

.nav-item+.nav-item {
  margin-left: 20px;
}

.nav-link {
  line-height: 18px;
  color: #fff;
}

/* нехватало */
.user-menu-items {
  display: flex;
}

.user-menu-item+.user-menu-item {
  margin-left: 10px;
}

.user-menu-link {
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 1px 10px 3px;
  color: #fff;
  background-color: #3971FF;
  transition: all, .3s;
}

.user-menu-link:hover {
  color: #3971ff;
  background-color: #fff;
}

.user-menu-link--enter {
  background-color: #fff;
  color: #3971FF;
  transition: all, .3s;
}

.user-menu-link--enter:hover {
  color: #fff;
  background-color: #3971FF;
}

/* === PROMO-SLIDER === */

.promo-slider {
  margin-bottom: 70px;
}

.promo-slider__slide {
  position: relative;
  border-radius: 6px;
  padding: 20px 35px 30px;
  height: 427px;
  color: #fff;
  background-color: #FF7D02;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.promo-slider__info-box {
  width: 495px;
}

.promo-slider__slide-title {
  margin-bottom: 24px;
  font-family: 'Podkova', serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 60px;
}

.promo-slider__slide-txt {
  margin-bottom: 66px;
}

.promo-slider__slide-btn {
  position: absolute;
  bottom: 30px;
  left: 35px;
  border-radius: 2px;
  padding: 10px 24px 11px;
  background-color: #3971FF;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
}

.slick-arrow {
  z-index: 5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(57, 113, 255, 0.2);
  cursor: pointer;
}

.slick-prev {
  left: -15px;
}

.slick-next {
  right: -15px;
}

.slick-prev img {
  padding-right: 4px;
  padding-top: 6px;
}

.slick-next img {
  padding-left: 4px;
  padding-top: 6px;
}

.slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 22px;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin: 0;
  padding: 0 2px;
  transition: all, .3s;
}

.slick-dots li.slick-active {
  padding: 0 7px;
}

.slick-dots button {
  font-size: 0;
  width: 5px;
  height: 14px;
  border: 1px solid #fff;
  background-color: #FF7D02;
  border-radius: 50%;
  transition: all, .5s;
}

.slick-dots .slick-active button {
  outline: 1px solid #fff;
  border: 1px solid #FF7D02;
  background-color: #FFF;
  transform: scale(1.5);
}

.slick-active li {
  padding-right: 5px !important;
}

/* === / PROMO-SLIDER === */

.new-books-title {
  margin-bottom: 40px;
  font-family: 'Podkova', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 53px;
  color: #37393E;
}

.books-list {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book {
  position: relative;
  border-radius: 4px;
  width: 275px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
  transition: box-shadow, .8s;
}

.book:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.book-rating {
  position: absolute;
  top: 6px;
  left: 6px;
  display: inline-block;
  border-radius: 2px;
  padding: 1px 4px;
  background-color: #3971ff;
}

.book-rating-value {
  font-size: 14px;
  line-height: 1;
  color: #fff;
}

.book-info {
  padding: 18px 17px 25px 13px;
  height: 195px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.book-author {
  font-size: 14px;
  line-height: 16px;
  color: #BFBFBF;
}

.book-title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #3971FF;
}

.book-text {
  /* min-height: 63px; */
  /* margin-bottom: 20px; */
  /* font-family: 'PT Astra Sans', sans-serif; */
  font-size: 16px;
  line-height: 21px;
  /* color: #37393E; */
}

.book-buttons-wrap {
  display: flex;
  /* flex-direction: row; и так по дефолту */
  /* justify-content: center; */
  align-items: center;
  /* padding: 1px 10px 3px; */
  border-radius: 2px;
}

.book-link {
  margin-right: 10px;
  border-radius: 2px;
  padding: 1px 10px 3px 10px;
  /* font-family: 'PT Astra Sans', sans-serif; */
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  background-color: #3971FF;
  /* color: #FFFFFF; */
  transition: background-color, .3s;
}

.book-link:hover {
  background-color: #98b5ff;
}

.books-pages {
  /* font-family: 'PT Astra Sans', sans-serif; */
  /* font-style: normal; */
  /* font-weight: normal; */
  font-size: 14px;
  line-height: 16px;
  color: #BFBFBF;
}

.best-books,
.new-books,
.reviews {
  margin-bottom: 70px;
}

.best-books-title {
  margin-bottom: 40px;
  font-family: 'Podkova', serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 53px;
  color: #37393E;
}

.books-list {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}


/* .book-img {
  margin-bottom: 18px;
} */

/* .book-author {
  margin-left: 14px;
  font-family: 'PT Astra Sans', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #BFBFBF;
} */

/* .book-title {
  margin-bottom: 5px;
  font-family: 'PT Astra Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #3971FF;
} */

/* .book-text {
  min-height: 63px;
  margin-bottom: 20px;
  font-family: 'PT Astra Sans', sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #37393E;
} */

/* .book-buttons-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px 10px 3px;
  background: #3971FF;
  border-radius: 2px;
} */

/* .book-link {
  font-family: 'PT Astra Sans', sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
} */

/* .books-pages {
  margin-left: 10px;
  font-family: 'PT Astra Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #BFBFBF;
} */

.reviews-title {
  margin-bottom: 40px;
  font-family: 'Podkova', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 53px;
  color: #000;
}

.reviews-list {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: column; */
  /* column-gap: 60px; */
}

.reviews-item {
  /* position: relative; */
  border-radius: 4px;
  padding: 20px 25px 24px 20px;
  width: 380px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.reviews-content-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.review-img {
  margin-right: 15px;
  border-radius: 50%;
  /* position: static; */
  width: 80px;
  height: 80px;
  /* left: 0px; */
  /* top: 0px; */

}

.review-author {
  /* margin-left: 10px; */
  /* font-family: 'PT Astra Sans', sans-serif; */
  /* font-style: normal; */
  /* font-weight: bold; */
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #3971FF;
}

.review-amount {
  /* margin-bottom: 26px; */
  /* font-family: 'PT Astra Sans', sans-serif; */
  /* font-style: normal; */
  /* font-weight: normal; */
  /* font-size: 16px;
  line-height: 21px; */
  color: #BFBFBF;
}

/* .review-text {
  font-family: 'PT Astra Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #37393E;
} */

.about-us {
  margin-bottom: 90px;
  /* flex-wrap: column; */
  /* column-gap: 120px; */
}

.about-us-title {
  margin-bottom: 40px;
  font-family: 'Podkova', serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 53px;
  color: #000;
}

.about-us-list {
  display: flex;
  justify-content: space-between;
}

.about-us-item {
  /* position: relative; */
  border-radius: 4px;
  padding: 16px 80px 21px 20px;
  width: 590px;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
}

.about-us-slogan {
  margin-bottom: 12px;
  width: 327px;
  /* font-family: 'PT Astra Sans', sans-serif; */
  /* font-style: normal; */
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #3971FF;
}

/* .about-us-text {
  margin-bottom: 110px;
  font-family: 'PT Astra Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #37393E;
} */

.footer {
  background: #37393E;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 48px 0 47px;
}

.footer-logo-link {
  margin-bottom: 20px;
  display: block;
}

.social-button-item+.social-button-item {
  margin-left: 10px;
}

.social-button-list {
  margin-left: 2px;
  display: flex;
}

.footer__inner-right-box {
  display: flex;
  justify-content: space-between;
}

.nav-title {
  margin-bottom: 8px;
  font-family: 'Podkova', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  color: #4A4C51;
}

.nav-link {
  margin-bottom: 6px;
  font-family: 'PT Astra Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;

}

/* === BREADCRUMBS === */
.breadcrumbs {
  margin-bottom: 8px;
}

.breadcrumbs__list-item {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  padding-right: 8px;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs__list-item a {
  color: #37393E;
}

.breadcrumbs__list-item:last-child {
  color: #3971FF;
}

.breadcrumbs__list-item+.breadcrumbs__list-item::before {
  content: '/';
  position: absolute;
  left: -12px;
  bottom: 0;
}

/* === / BREADCRUMBS === */


/* === CATALOG === */

.catalog-books-title {
  margin-bottom: 40px;
  font-family: 'Podkova', serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 60px;
}

.catalog-books-inner {
  display: flex;
}

.catalog-books-aside {
  margin-right: 30px;
  min-width: 250px;
}

/* === FOOTER === */
.footer__inner-right-box {
  display: flex;
}

.footer-block {
  margin-left: 64px;
}

.footer-title {
  margin-bottom: 8px;
  font-family: 'Podkova', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  color: #4A4C51;
}

.footer-list-item-address {
  width: 225px;
  color: #fff;
}

.footer-link {
  margin-bottom: 6px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFF;
}

.footer-copyright {

  padding: 13px 0;
  font-family: 'Podkova', serif;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  color: #4A4C51;
  background-color: #222225;
}